<script>
    var comon = window.sessionStorage.getItem('currentProject');
    var dsurleng = 'https://api.docspring.com/api/v1/submissions/'
    dsurleng += comon;
    let iFsLpackage = new XMLHttpRequest();
    iFsLpackage.open('GET', dsurleng);
    iFsLpackage.onreadystatechange = function() {
        if (iFsLpackage.readyState == XMLHttpRequest.DONE) {
                var resp = JSON.parse(this.responseText);
                const SubKey = resp["download_url"];
                document.getElementById("slframeid").src = SubKey;
        }
};
    iFsLpackage.setRequestHeader('Authorization', 'Basic YXBpX2R4Q1M5TEhhenFjRzRrajVacDpBWlhzM3FoY2RYU21xdHFKTTlkempjTEdqTEdoeFFDSkNoZGZjaGoyeUE=')
    iFsLpackage.setRequestHeader('Content-type', 'application/json; charset=utf-8');
    iFsLpackage.send();
</script>

<script>
function approval(){
window.location.href = 'engchecklist/approve';
};
</script>
<% def current_projectID
    @current_projectID ||= Project.select(:id).where(engineer_id: current_user.id).last%>
  

<% @curprojstatus ||= Project.select(:fp_name).where(project_id: current_projectID).last %>


<%end%>
    <div class="container">
      <div class="jumbotron">
        <h2 id="h2" style="text-align: center">Welcome to your Checklist</h2>
      </div>
    </div>
    <div class = "container">
      <button type="button" class="btn btn-primary" style="text-align: center">Go to Checklist</button><br><br><br><br>
    </div>
    <div class = "container">
      <label for="custcomment">Customer Comments</label><br>
      <textarea readonly  rows="4" cols="50" name="custcomment" id = "status"  ><%=@custcomm[0]%></textarea>
    </div>
    <div class = "container">
    <iframe id="slframeid" width="600" height="900"></iframe>
    </div>
<div class = "container">
  <form action = "/engchecklist/comments" method= "POST">
    <input type="hidden" name= "authenticity_token" value="<%=form_authenticity_token %>">
      <div class="form-group">
        <label for="custcomment">Engineer Comments</label><br>
        <input type = "textarea" id = "engcomment" rows="4" cols="80" name="project[engcomment]" >
        <input type="submit" class="btn btn-primary"  >
    </div>
    </form>
</div>


    <div class = "container">
    <form action = "engchecklist/approve" method = "POST">
      <div class="form-group">
       <input type="submit" class="btn btn-primary">Approve
       </div>
    </form>

    <div class = "container">
    <form action = "engchecklist/issuecr" method = "GET">
      <div class="form-group">
       <input type="submit" class="btn btn-primary">Issue Certificate Report
       </div>
    </div>


   
    
    

    
    
    
    
    
 



  










